<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Search</title>
</head>
<body>
    <h1>Hotel Search Results</h1>
  <!-- Login Link -->
  <p><a href="/login">Login</a></p>

    <form method="POST">
        <label for="hname">Hotel Name:</label>
        <input type="text" name="hname" value="{{ hname }}" placeholder="Enter hotel name"><br><br>

        <label for="star_rating">Star Rating:</label>
        <input type="number" name="star_rating" value="{{ star_rating }}" placeholder="Star rating"><br><br>

        <button type="submit">Search</button>
    </form>

    <h2>Search Results</h2>
    {% if hotels %}
        <ul>
        {% for hotel in hotels %}
            <li>
                <a href="{{ url_for('hotel_details', hotel_id=hotel['hotel_id']) }}">{{ hotel['name'] }}</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No hotels found based on your search criteria.</p>
    {% endif %}
</body>
</html>
